<footer class="footer block-center">
    <div class="container footer__container">
        <div class="company-block">
            <div class="company-name">
                <img src="../img/logo_mini.png" alt="Dr.Web Logo">
                <span class="text__white">© «Доктор Веб» 2003 – <span id="dr_web_year"></span></span>
            </div>
            <p class="company-info text__white">«Доктор Веб» — российский производитель антивирусных средств защиты информации под маркой Dr.Web.</p>
        </div>
    </div>
</footer>