<main>
    <div class="wrapper block-center block-stack">
        <section class="block-center block-stack">
            <div class="block-center block-stack main-description">
                <h1 class="title">Защити свой цифровой мир</h1>
                <span class="text text__header-description">с Dr.Web Security Space для Android</span>
                <a href="#product-block" class="button button-text">Купить со скидкой</a>
            </div>
            <div class="container">
                <img src="../img/android_procent.png" alt="Android" class="responsive-image">
            </div>
        </section>
        <section class="container container-zero" id="product-block">
            <div class="block-black">
                <div class="product-info">
                   <span class="text text__green">С 1 по 15 февраля 2023 года</span>
                    <h3 class="title-card title-card__white">Dr.Web Security Space для Android</h3>
                    <div class="block-badge">
                        <div class="badge text__badge block-center">2 устройства</div>
                        <div class="badge text__badge block-center">12 месяцев</div>
                    </div>
                    <p class="text text__white">Сохранит в безопасности важные документы,
                        онлайн-банкинг, личные переписки, доступ  к социальным сетям и вашим контактам</p>
                    <a href="https://www.drweb.ru/" target="_blank" class="text text__green fit-content">Условия акции</a>
                </div>
                <div class="product-info__card">
                   <img src="../img/security_mobile.png" class="responsive-image product-info__image" alt="Dr.Web Security">
                    <h4 class="title-card--security">Dr.Web Security Space</h4>
                    <p class="text text--security">Защита мобильных устройств и планшетов</p>
                    <div class="block-price-old">
                        <div class="block-center block-between">
                            <span class="price-old">
                              <del>980 ₽</del>
                            </span>
                            <span class="price-old__nds">без НДС</span>
                        </div>
                        <span class="price">784 ₽</span>
                    </div>
                    <button class="button button-text">Купить со скидкой</button>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="services">
                <div class="services-card services-card--first">
                    <h3 class="title-card">Защитит гаджеты:</h3>
                    <ul>
                        <li class="text">Смартфоны</li>
                        <li class="text">Планшеты</li>
                        <li class="text">Smart-TV</li>
                        <li class="text">Игровые консоли</li>
                    </ul>
                </div>
                <div class="services-card services-card--second">
                    <h3 class="title-card">Компоненты защиты:</h3>
                    <ul>
                        <li class="text">Родительский контроль</li>
                        <li class="text">Брандмауэр</li>
                        <li class="text">Фильтр звонков и СМС</li>
                        <li class="text">Аудитор безопасности</li>
                        <li class="text">Антивор</li>
                        <li class="text">URL-фильтр</li>
                        <li class="text">Антивирус</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</main>